

# ignore models (should be put in a model's directory to be more easily ignored)
airoboros-33b-gpt4-1.4.ggmlv3.q2_K.bin
guanaco-65B.ggmlv3.q2_K.bin
nous-hermes-13b.ggmlv3.q2_K.bin

#ignore environement config
.env
.venv/
__pycache__/